body {
  font-family: 'Futura PT', sans-serif;
  font-size: 3.5vw;
}

button {
  height: 5vh;
  width: 25vw;
}

div {
  display: block;
}

#dailyVerses {
  display :inline;
  font-size: 3vw;
}

#extraInfoD, #extraInfoP {
  margin-top: 0;
  padding-top: 0;
  display: block;
}
#watchWeekP {
  display: inline;
}
a:link {
	color: #56331d;
}
a:hover {
	color: #1e5254;
}
