  
body {
    font-family: 'Futura PT', sans-serif;
    font-size: 3.5vw;
  }
  
  button {
    height: auto;
    width: auto;
    padding: 1em;
  }

  button#previous {
    font-size: 3vw;
  }

  button#next {
    font-size: 3vw;
  }

  input#input {
    font-size: 3vw;
  }

  button#search {
    font-size: 3vw;
  }


  input {
    height: 4.6vh;
  }
  
  div {
    display: block;
  }

  a {
      text-decoration: none;
  }
  
  a:link {
      color: #56331d;
  }
  a:hover {
      color: #1e5254;
  }